*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    color: #000;
}
/*FOR ALL PAGES*/
#header{
    background-color: #011661;
    height: auto;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    .nav-bar{
        display: grid;
        grid-template-columns: 40% 60%;
        .left-nav-bar{
            display: flex;
            grid-column: 1/2;
            align-items: center;
            justify-content: center;
            .logo-img{
                width: 50px;
                height: 50px;
                padding: 10px;
                cursor: pointer;
            }
            h1{
                color: #fff;
                font-size: 19px;
                font-family: "Playfair Display",serif, Arial, Helvetica, sans-serif;
            }
        }
        .right-nav-bar{
            grid-column: 2/3;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: -5px;
            position: relative;
            img{
                display: none;
            }
            .right-nav-bar-con{
                img{
                    display: none;
                }

                ul{
                    li{
                        display: inline-block;
                        a, b{
                            text-decoration: none;
                            color: #0037FC;
                            font-size: 15px;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: 700;
                            margin: 5px;
                            cursor: pointer;
                            transition: all 1s;
                           
                        }
                        .hov:hover{
                            font-size: 18px;
                            color: #fff;
                        }
                        .login{
                            color: #0037FC;
                            border:  2px #0037FC solid;
                            border-radius: 8px;
                            padding: 6px;
                            transition: ease-out 1s;
                        }
                        .login:hover{
                            color: #fff;
                            border-color: #fff;
                            padding: 8px;
                        }
                        .register{
                            color: #fff;
                            border-radius: 8px;
                            padding: 8px;
                            background-color: #0037FC;
                            transition: ease-out 0.5s;
                        }
                        .register:hover{
                            color: #0037FC;
                            background-color: #fff;
                            padding: 10px;
                        }
                    
                    }
                }
                .img{
                    display: block;
                    width: 50px;
                    position: absolute;
                    top: 10px;
                    right: 30px;
                }

            }
           
        }

    }
}

/*Login/SignUp style*/
#LS-con{
    display: none;
    justify-content: center;
    align-items: center;
    width:98vw;
    height: 100vh;
    background-image: linear-gradient(to top rgba(0, 0, 0, 0.3) rgba(15, 3, 128, 0.3)), url(./Images/LibraryBg.jpg);
    z-index: 10;
    .Ls-sub-con{
        width: 300px;
        background-color: #0037FC;
        border-radius: 10px;
        text-align: center;
        .log-con,.reg-con,.forget-con{
            display:none;
            padding: 20px;
            img{
                width: 30px;
                padding: 10px;
                text-align: right;
                cursor: pointer;
            }
            h3{
                font-size: 20px;
                margin-bottom: 10px;
                color: #fff;
            }
            input[type=text],[type=email], [type=password]{
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid #011661;
                color: #0037FC;
                font-size: 20px;
                border-radius: 5px;
            }
            input[type=text]:focus,[type=email]:focus, [type=password]:focus{
                border: 3px solid #ffffff;
                background-color: #a0b2f5;
            }
            input::placeholder{
                font-size: 12px;
                color: #0037FC;
                padding: 3px;

            }
            input[type=submit]{
                width: 100px;
                cursor: pointer;
                font-size: 15px;
                padding: 3px;
                color: #0037FC;
                font-weight: 700;
                transition: ease-in 0.5s;

            }
            input[type=submit]:hover{
                background-color: #0037FC;
                color: #fff;
            }
            p{
                cursor: pointer;
            }
        }
    }
}

#sub-header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(4, 5, 78, 0.3)), url(Images/backgroung.avif);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    .sub-head-con{
        text-align: center;
        margin: 20px 0 20px 0;
        .search{
            input{
                width: 70%;
                height: 35px;
                border-radius: 10px;
                border: 2px solid #0037FC;
                ::placeholder{
                    font-size: 25px;
                    color: #0037FC;
                }
            }
            input::placeholder{
                font-size: 18px;
                font-weight: 300;
                color: #0037FC;
            }
        }
        .sub-head-con-text{
            font-size: 30px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 200;
            margin-top: 30px;
        }
    }
}
/*FOR ALL PAGES END*/

/*FOR HOME PAGE*/
#vision{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left-vision{
        grid-column: 1/2;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .left-vision-con{
            text-align: center;
            .left-vision-head{
                font-size: 30px;
                font-weight: bold;
                color: #0037FC;
            }
            .left-vision-head::after,.left-vision-head::before{
                content: '';
                position: absolute;
                width: 100px;
                height: 5px;
                background-color: #0037FC;
                z-index: 0;
                top: 1;
                left: 1;
            }
            .left-vision-head::after{
                transform: translate( 5px, 15px);
            }
            .left-vision-head::before{
                transform: translate(-105px, 15px);
            }
            .left-vision-body{
                font-size: 20px;
                margin-top: 3cqi;
            }
        }
    }
    .right-vision{
        grid-column: 2/3;
        img{
            width:100%;
            margin-bottom: -4px;
        }
    }
}

#mission{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #011661;
    .right-mission{
        grid-column: 2/3;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .right-mission-con{
            text-align: center;
            .right-mission-head{
                position: relative;
                font-size: 30px;
                font-weight: bold;
                color: #0037FC;
            }
            .right-mission-head::after,.right-mission-head::before{
                content: '';
                position: absolute;
                width: 100px;
                height: 5px;
                background-color: #0037FC;
                z-index: 0;
                top: 1;
                left: 1;
            }
            .right-mission-head::after{
                transform: translate( 5px, 15px);
            }
            .right-mission-head::before{
                transform: translate(-105px, 15px);
            }
            .right-mission-body{
                font-size: 20px;
                margin-top: 30px;
                color: #fff;
            }
        }
    }
    .left-mission{
        grid-column: 1/2;
        grid-row: 1/2;
        img{
            width:100%;
            margin-bottom: -4px;
        }
    }
}

#Goal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left-Goal{
        grid-column: 1/2;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .left-Goal-con{
            text-align: center;
            .left-Goal-head{
                font-size: 30px;
                font-weight: bold;
                color: #0037FC;
            }
            .left-Goal-head::after,.left-Goal-head::before{
                content: '';
                position: absolute;
                width: 100px;
                height: 5px;
                background-color: #0037FC;
                z-index: 0;
                top: 1;
                left: 1;
            }
            .left-Goal-head::after{
                transform: translate( 5px, 15px);
            }
            .left-Goal-head::before{
                transform: translate(-105px, 15px);
            }
            .left-Goal-body{
                font-size: 20px;
                margin-top: 3cqi;
            }
        }
    }
    .right-Goal{
        grid-column: 2/3;
        img{
            width:100%;
            margin-bottom: -4px;
        }
    }
}

#Value{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #011661;
    .right-Value{
        grid-column: 2/3;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .right-Value-con{
            text-align: center;
            .right-Value-head{
                position: relative;
                font-size: 30px;
                font-weight: bold;
                color: #0037FC;
            }
            .right-Value-head::after,.right-Value-head::before{
                content: '';
                position: absolute;
                width: 100px;
                height: 5px;
                background-color: #0037FC;
                z-index: 0;
                top: 1;
                left: 1;
            }
            .right-Value-head::after{
                transform: translate( 5px, 15px);
            }
            .right-Value-head::before{
                transform: translate(-105px, 15px);
            }
            .right-Value-body{
                font-size: 20px;
                margin-top: 30px;
                color: #fff;
            }
        }
    }
    .left-Value{
        grid-column: 1/2;
        grid-row: 1/2;
        img{
            width:100%;
            margin-bottom: -4px;
        }
    }
}
/*FOR HOME PAGE END*/

/*FOR PAGES HEAD*/
#page-head{
    h3{
        position: relative;
        font-size: 30px;
        font-family: "Playfair Display",serif, Arial, Helvetica, sans-serif;
        color: #0037FC;
        text-align: center;
        margin: 20px 0 20px 0;
    }
    h3::before,h3::after{
        content: '';
        position: absolute;
        background-color: #0037FC;
        width: 300px;
        height: 5px;
        top: 1;
        left: 1;
    }
    h3::before{
        transform: translate(200px, 20px);
    }
    h3::after{
        transform: translate(-500px, 20px);
    }
}
/*FOR PAGES HEAD END*/

/*FOR CATALOGUE*/
#books{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .books-con{
        width: 70vw;
        .books-btn{
            font-size: 20px;
            font-weight: bold;
            padding: 5px;
            color: #fff;
            background-color: #0037FC;
            box-sizing: border-box;
            box-shadow: 1px 1px 3px#000;
            border-radius: 7px;
        }
        .books-btn:hover{
            box-shadow:none;
            padding: 4px;
        }
        
        /* CSS for modal dialog */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 26, 255, 0.5);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #0037FC;
            width: 100%;
            max-width: 600px;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: #0037FC;
            text-decoration: none;
            cursor: pointer;
        }
        /* CSS for PDF viewer */
        #pdfViewer {
            margin-top: 20px;
        }
        .pdf-table {
            width: 100%;
            border-collapse: collapse;
        }
        .pdf-table th,
        .pdf-table td {
            border: 2px solid #0037FC;
            padding: 8px;
            text-align: left;
        }
        .pdf-name {
            cursor: pointer;
            color: blue;
        }
        .pdf-name:hover {
            text-decoration: underline;
        }
    }
}

/*FOR RESEARCH*/
#res-body{
    padding: 0 50px 0 50px;
    margin-bottom: 30px;
    h2{
        font-size: 20px;
        color: #011661;
        font-weight: bold;
        margin: 20px 0 10px 0;

    }
    ol{
        padding-left: 50px;
        li{
            list-style-type: disc;
            padding: 8px;
            font-size: 18px;
        }
    }
    p{
        font-size: 18px;
        padding: 10px;
    }
}

/*FOR Policy*/
#pol-body{
    padding: 0 50px 0 50px;
    margin-bottom: 30px;
    h2{
        font-size: 20px;
        color: #011661;
        font-weight: bold;
        margin: 20px 0 10px 0;

    }
    b{
        color: #011661;
    }
    p{
        font-size: 18px;
        padding: 10px;
        b{
            color: #011661;
        }
    }
}

/*FOR contact*/
#contact-body{
    padding: 0 50px 0 50px;
    margin-bottom: 30px;
    h2{
        font-size: 20px;
        color: #011661;
        font-weight: bold;
        margin: 20px 0 10px 0;

    }
    p{
        font-size: 18px;
        padding: 10px;
    }
    form{
        label{
            color: #011661;
            padding: 8px;
        }
        input[type=text], [type=email], textarea{
            width: 300px;
            box-sizing: border-box;
            border: 2px solid #0037FC;
            padding: 8px;
        }
        input[type=submit]{
            width: 150px ;
            padding: 5px;
            border: 2px solid #011661;
            color: #fff;
            background-color: #0037FC;
            font-weight: bold;
            border-radius: 10px;
        }
    }
}

#footer{
    .footer-con{
        background-color: #011661;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: end;
        p{
            font-size: 20px;
            color: #fff;
            padding: 20px;
        }
    }
}

@media screen and (max-width: 786px){
    #header{
        
        .nav-bar{
            grid-template-columns: 70% 30%;
            .left-nav-bar{
                h1{
                    font-size: 10px;
                }
            }
            .right-nav-bar{
                display: block;
                margin: 20px 0 20px 0;
                img{
                    display: block;
                    width: 20px;
                    cursor: pointer;
                    transform: translate(100px, 8px);
                }
                .right-nav-bar-con{
                    display: none;
                    img{
                        display: block;
                        width: 20px;
                        cursor: pointer;
                        transform: translate(100px, 8px);
                        margin: 0 5px 5px 0;
                    }
                    ul{
                        li{
                            display: block;
                            text-align: center;
                            margin-top: 2.5px;
                            a{
                                font-size: 7.5px;
                               
                            }
                            .hov:hover{
                                font-size:9px ;
                            }
                        }
                        .button{
                            margin-top: 10px;
                        }
                    }
                    .img{
                        width: 30px;
                        position: absolute;
                        top: -20px;
                        right: 140px;
                    }
                }
                
            }
        }
    }
    #sub-header{
        height: 50vh;
        .container{
            .search{
                input::placeholder{
                    font-size: 15px;
                }
            }
            .container-text{
                font-size: 15px;
            }
        }
    }
    #vision{
        display: block;
        .left-vision{
            .left-vision-con{
                .left-vision-head{
                    font-size: 25px;
                }
                .left-vision-head::after,.left-vision-head::before{
                    height: 2.5px;
                }
                .left-vision-head::after{
                    transform: translate( 5px, 11px);
                }
                .left-vision-head::before{
                    transform: translate(-105px, 11px);
                }
                .left-vision-body{
                    font-size: 15px;
                }
            }
        }
    }
    #mission{
        display: block;
        .right-mission{
            .right-mission-con{
                .right-mission-head{
                    font-size: 25px;
                }
                .right-mission-head::after,.right-mission-head::before{
                    height: 2.5px;
                }
                .right-mission-head::after{
                    transform: translate( 5px, 11px);
                }
                .right-mission-head::before{
                    transform: translate(-105px, 11px);
                }
                .right-mission-body{
                    font-size: 15px;
                }
            }
        }
    }
    #Goal{
        display: block;
        .left-Goal{
            .left-Goal-con{
                .left-Goal-head{
                    font-size: 25px;
                }
                .left-Goal-head::after,.left-Goal-head::before{
                    height: 2.5px;
                }
                .left-Goal-head::after{
                    transform: translate( 5px, 11px);
                }
                .left-Goal-head::before{
                    transform: translate(-105px, 11px);
                }
                .left-Goal-body{
                    font-size: 15px;
                }
            }
        }
    }
    #Value{
        display: block;
        .right-Value{
            .right-Value-con{
                .right-Value-head{
                    font-size: 25px;
                }
                .right-Value-head::after,.right-Value-head::before{
                    height: 2.5px;
                }
                .right-Value-head::after{
                    transform: translate( 5px, 11px);
                }
                .right-Value-head::before{
                    transform: translate(-105px, 11px);
                }
                .right-Value-body{
                    font-size: 15px;
                }
            }
        }
    }
    #page-head{
        h3{
            font-size: 20px;
        }
        h3::before,h3::after{
            width: 100px;
            height: 2.5px;
        }
        h3::before{
            transform: translate(130px, 15px);
        }
        h3::after{
            transform: translate(-230px, 15px);
        }
    }
    #books{
        display: block;
        .books-con{
            width: 100%;
            padding: 0;
            margin-left: 0;
            .books-btn{
                font-size: 12px;
            }
            .modal-content{
                width: 80%;
            }
        }
    }
    #res-body{
        padding: 10px;
        h2{
            font-size: 15px;
            margin: 8px 0 8px 0;
        }
        ol{
            padding-left :25px;
            li{
                font-size: 15px;
            }
        }
        p{
            font-size: 15px;
            padding: 5px;
        }
    }
    #pol-body{
        padding: 10px;
        h2{
            font-size: 15px;
            margin: 8px 0 8px 0;
        }
        
        p{
            font-size: 15px;
            padding: 5px;
        }
    }
    #contact-body{
        padding: 10px;
        h2{
            font-size: 15px;
            margin: 8px 0 8px 0;
        }
        
        p{
            font-size: 15px;
            padding: 5px;
        }
    }
    #footer{
        .footer-con{
            p{
                font-size: 10px;
            }
        }
    }
}